body {
  text-align: center;
  font-family: Roboto, sans-serif;
  padding: 0 10vw;
}

section {
  border: 1px solid #2c3e50;
  margin-bottom: 30px;
}

.box {
  text-transform: uppercase;
  color: #fff;
  padding: 20px;
}

.box-blue {
  background-color: #2980b9;
}

.box-orange {
  background-color: #e67e22;
}

.box-green {
  background-color: #2ecc71;
}

.box-yellow {
  background-color: #c1cc2e;
}

.box-square {
  width: 100px;
  height: 100px;
}

/* relative / */

#relative .box-orange {
  position: relative;
  top: 15px;
  left: 15px;
}

/* / absolute / */

#absolute {
  position: relative;
}

#absolute .box-orange {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

/* / fixed / */

#fixed .box-orange {
  position: fixed;
  right: 15px;
  top: 15px;
}

/* / sticky / */
#sticky .box-orange {
  position: sticky;
  bottom: 10px;
}

/* / z-index stacking */

#stacking {
  position: relative;
  height: 400px;
  width: 500px;
}

#stacking .box {
  position: absolute;
}

#stacking .box-yellow {
  top: 50px;
  left: 50px;
}

#stacking .box-orange {
  top: 100px;
  left: 100px;
}

#stacking .box-green {
  top: 150px;
  left: 150px;
}

#stacking .box-blue {
  top: 200px;
  left: 200px;
}
